<nz-steps [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)" nzSize="small">
  <nz-step nzTitle="基本信息" nzIcon="file-text"></nz-step>
  <!-- partnerText() +  -->
  <nz-step [nzTitle]="stageTwo" nzIcon="usergroup-add"></nz-step>
  <nz-step nzTitle="'选择模版'" nzIcon="select"></nz-step>
  <nz-step nzTitle="其他信息" nzIcon="file-protect"></nz-step>
  <!-- progress.agreement_templet == AgreementTemplet.fileCompany ? '高管信息': '协议信息' -->
  <nz-step [nzTitle]="stageFour" nzIcon="user">
  </nz-step>
</nz-steps>
<br>
<br>
<router-outlet></router-outlet>
