.button-div {
  min-height: 4em;
}

.button-div .importList {
  background: #4CA535;
  border-color: #4CA535;
  margin-left: 1em;
}

.del-button {
  background: #e6394a;
  border-color: #e6394a;
  color: #fff;
  margin: 0.5em;
}
